.bg-img{
  background-image: url("https://i.pinimg.com/originals/19/c9/5a/19c95a8ad1c90d89bc9d5c7bc2054151.gif");
  background-size: cover;
  background-repeat: no-repeat;

}

.custom-text {
font-family: 'Press Start 2P', cursive;
}

.card {
box-shadow: #ddd69593;
background-color: #4d4b4b63;
color: white;
border-color: rgba(202, 61, 183, 0.404);
}

.spaceShip{
  height: 25rem;
  border-radius: 100%;

}

.button{
  background-color:#ca3db767;
  color: white;
  box-shadow: #ffff006c;
}

.button:hover{
  background-color:rgba(51, 34, 46, 0.788);
}

.rotate {
animation: rotation 3s infinite linear;
}

@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}