.bg-img{
  background-image: url("https://images.unsplash.com/photo-1492446190781-58ac4285911d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=694&q=80");
  background-size: cover;
  background-repeat: no-repeat;

}

.custom-text {
font-family: 'Press Start 2P', cursive;
}

.card {
box-shadow: #ddd69593;
background-color: #4d4b4b63;
color: white;
}

.moon{
  height: 25rem;
  border-radius: 100%;

}

.rotate {
animation: rotation 10s infinite linear;
}

@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}